<p>
    {{ 'email.share-link'|trans }}
</p>

<p>
    {{ 'site.url'|trans }}
</p>

<p>
    {{ 'email.good-luck'|trans }}
</p>

<p>
    {{ 'email.signoff'|trans }}
</p>

<p>
    {{ 'email.site-helped'|trans }}
</p>
