<p>
    {{ 'email.avoid-contact'|trans }}
</p>

<ul>
    <li>
        {{ 'email.for-volunteers'|trans }}

        <ul>
            <li>
                {{ 'email.use-contactless'|trans }}
            </li>
            <li>
                {{ 'email.repayment'|trans }}
            </li>
            <li>
                {{ 'email.contactless-delivery'|trans }}

                <ul>
                    <li>
                        {{ 'email.apply-barriers'|trans }}
                    </li>
                    <li>
                        {{ 'email.shop-and-bag'|trans }}
                    </li>
                    <li>
                        {{ 'email.deliver-and-advise'|trans }}
                    </li>
                    <li>
                        {{ 'email.move-away'|trans }}
                    </li>
                </ul>
                {{ 'email.online-details'|trans }}
            </li>
        </ul>
    </li>

    <li>
        {{ 'email.needing-help'|trans }}

        <ul>
            <li>
                {{ 'email.prepare-menu'|trans }}
            </li>
            <li>
                {{ 'email.make-list'|trans }}
            </li>
            <li>
                {{ 'email.price-range'|trans }}
            </li>
        </ul>
    </li>
</ul>
