<p>
    {{ 'email.show-id'|trans }}
</p>

<p>
    {{ ('email.travel-certificate-'~type)|trans }}
</p>

<p>
    {{ 'email.travel-certificate-link'|trans }}
</p>

<p>
    {{ 'email.other-things'|trans }}
</p>

<ul>
    <li>
        {{ 'email.please-reply'|trans }}
    </li>

    <li>
        {{ 'email.no-match'|trans }}
    </li>
</ul>

<p>
    {{ 'email.healthy-carriers'|trans }}
</p>

<p>
    {{ 'email.reminders'|trans }}
</p>

<ul>
    <li>
        {{ 'email.wash-hands'|trans }}
    </li>
    <li>
        {{ 'email.cough-elbow'|trans }}
    </li>
    <li>
        {{ 'email.no-shaking-hands'|trans }}
    </li>
    <li>
        {{ 'email.use-tissues'|trans }}
    </li>
    <li>
        {{ 'email.avoid-gatherings'|trans }}
    </li>
</ul>
