<footer class="home-footer p-3">
    <div class="mb-3 home-footer-social">
        {% include '_include/' ~ app.request.locale ~ '/homepage_social.html.twig' %}
        <a href="https://github.com/tgalopin/lisungi.org"
           title="{{ 'social.find-github'|trans }}" target="_blank" rel="noreferrer noopener">
            {{ include('_icons/github.html.twig') }}</a>
    </div>
    <div>
        <a href="{{ path('content_why') }}">
            {{ 'footer.why'|trans }}</a>
        <a href="{{ path('content_who') }}">
            {{ 'footer.who'|trans }}</a>
        <a href="{{ path('content_international') }}">
            {{ 'footer.international'|trans }}</a>
        <a href="{{ path('content_links') }}">
            {{ 'footer.information'|trans }}</a>
        <a href="{{ path('content_privacy') }}">
            {{ 'footer.privacy'|trans }}</a>
        <a href="{{ path('content_conditions') }}">
            {{ 'footer.conditions'|trans }}</a>
        <a href="{{ path('content_legalities') }}">
            {{ 'footer.legal'|trans }}</a>
    </div>
</footer>
