<div class="home-ecosystem-assos mt-5 mb-5 pt-5 pb-5">
    <div class="home-ecosystem-assos-title">
        Nos partenaires
    </div>

    <img src="{{ asset('fr_CD/res/assos/regal.jpg') }}" />
    <img src="{{ asset('fr_CD/res/assos/llab.png') }}" />
</div>

<div class="home-ecosystem-medias">
    <div class="home-ecosystem-assos-title">
        Ils parlent de vous !
    </div>

    <img src="{{ asset('fr_CD/res/medias/actualitecd.png') }}" />
    <img src="{{ asset('fr_CD/res/medias/bonetv.png') }}" />
    <img src="{{ asset('fr_CD/res/medias/okapi.jpg') }}" />
    <img src="{{ asset('fr_CD/res/medias/factuel.png') }}" />
</div>
