<p>
    {% trans with {'name': helper.firstName} %}email.greeting{% endtrans %}
</p>

<p>
    {{ 'email.offer-thanks'|trans }}
</p>

<p>
    {{ 'email.offer-saved'|trans }}
</p>

<p>
    {% trans with {'url': path('process_helper_view', {'uuid': helper.uuid}) } %}email.offer-edit{% endtrans %}
</p>

<p>
    {{ 'email.offer-notified'|trans }}
</p>

<p>
    {{ 'email.offer-commitment'|trans }}
</p>

<p>
    {{ 'email.signoff'|trans }}
</p>
