<p>
    {% trans with {'requester': requester.firstName|capitalize, 'helper':helper.firstName|capitalize } %}email.greeting-match{% endtrans %}
</p>

<p>
    {{ 'email.good-news'|trans }}
</p>

<p>
    {% trans with {'zipcode': requester.zipCode } %}email.postcode-match{% endtrans %}
    {% trans with {'count': needs.babysitNeeds, 'requester': requester.firstName|capitalize, 'ages': needs.babysitAgesList, 'helper': helper.firstName|capitalize } %}email.baysit{% endtrans %}
    {% trans with {'helper': helper.firstName|capitalize, 'age': helper.age } %}email.helper-age{% endtrans %}{% if helper.haveChildren %}{{ 'email.also-parent'|trans }}{% endif %}.
</p>

<p>
    {{ 'email.up-to-you'|trans }}
</p>

<p>
    {{ 'email.both-copied'|trans }}
</p>

{{ include('emails/_include/guidelines_global.html.twig', { type: 'babysit' }) }}

{{ include('emails/_include/footer.html.twig') }}
