<p>
    {% trans with {'name': request.firstName} %}email.greeting{% endtrans %}
</p>

<p>
    {{ 'email.request-thanks'|trans }}
</p>

<p>
    {{ 'email.request-saved'|trans }}
</p>

<p>
    {% trans with {'url': path('process_requester_view', {'ownerUuid': ownerUuid}) } %}email.request-edit{% endtrans %}
</p>

<p>
    {{ 'email.request-notified'|trans }}
</p>

<p>
    {{ 'email.request-commitment'|trans }}
</p>

<p>
    {{ 'email.signoff'|trans }}
</p>
