{% extends 'page_base.html.twig' %}

{% block title %}{{ 'label.request-help'|trans }} | {{ 'site.title'|trans }}{% endblock %}

{% block content %}
    <div class="process-box">
        <div class="bg-light p-3 p-lg-4">
            <h3 class="text-center font-weight-bold mb-4">
                {{ 'label.request-help'|trans }}
            </h3>

            <div class="process-details mb-4 pb-3">
                <p>
                    {{ 'request.intro-one'|trans }}
                </p>

                <p>
                    {{ 'request.intro-two'|trans }}
                </p>

                <p>
                    {{ 'request.intro-three'|trans }}
                </p>

                <p>
                    {{ 'request.intro-four'|trans }}
                </p>

                <a href="{{ path('content_how') }}">
                    {{ 'label.how-platform-works'|trans }}
                </a>
            </div>

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="process-block bg-white p-3 p-lg-4 mb-4">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.firstName, {'label': 'label.name-first-required'}) }}
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.lastName, {'label': 'label.name-last-required'}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.locality, {'label': 'label.locality-required'|trans}) }}
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.organization, {'label': 'label.organization'|trans, 'help': 'help.organization'|trans}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.email, {'label': 'label.email-required', 'help': 'help.email'|trans}) }}
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        {{ form_row(form.phone, {'label': 'label.phone', 'help': 'help.email'|trans}) }}
                    </div>
                </div>
            </div>

            <div class="process-block bg-white p-3 p-lg-4 mb-4">
                <div class="mb-3">
                    <strong>
                        {{ 'label.needs'|trans }}
                    </strong>
                </div>

                {% for type, fields in form.details %}
                    <hr />

                    <div class="py-2 px-4">
                        <div class="row">
                            <div class="col-lg-5">
                                {{ form_row(fields.need, {'label': ('label.need-'~type)|trans}) }}
                            </div>
                            <div class="col-lg-7" style="opacity: 0.5;">
                                {% if type in ['masks', 'glasses', 'blouses'] %}
                                    {{ form_row(fields.quantity, {'label': 'help.need-how-many-units'|trans}) }}
                                    <div class="d-none">{{ form_row(fields.details) }}</div>
                                {% elseif type in ['gel', 'soap'] %}
                                    {{ form_row(fields.quantity, {'label': 'help.need-how-many-ml'|trans}) }}
                                    <div class="d-none">{{ form_row(fields.details) }}</div>
                                {% elseif type in ['gloves'] %}
                                    {{ form_row(fields.quantity, {'label': 'help.need-how-many-pairs'|trans}) }}
                                    <div class="d-none">{{ form_row(fields.details) }}</div>
                                % elseif type in ['other'] %}
                                    {{ form_row(fields.details, {'label': 'help.need-other'|trans}) }}
                                    <div class="d-none">{{ form_row(fields.quantity) }}</div>
                                {% elseif type in ['food'] %}
                                    <div class="d-none">
                                        {{ form_row(fields.details) }}
                                        {{ form_row(fields.quantity) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="process-block bg-white p-3 p-lg-4 mb-4">
                {{ form_row(form.confirm_health, {
                    'label': 'label.confirm_health',
                    'label_attr': { 'class': 'checkbox-custom' },
                }) }}
            </div>

            <div class="process-block bg-white p-3 p-lg-4 mb-5">
                {{ form_row(form.confirm, {
                    'label': 'label.confirm',
                    'label_attr': { 'class': 'checkbox-custom' },
                    'help': 'help.confirm'
                }) }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">
                    {{ 'label.send-request'|trans }}
                </button>

                <div class="mt-3">
                    <strong class="text-muted">
                        {{ 'label.can-change-request'|trans }}
                    </strong>
                </div>
            </div>

            {{ form_end(form) }}

            <div class="legalities pt-5">
                {{ 'footer.data-statement'|trans|raw }}
            </div>
        </div>
    </div>
{% endblock %}
